/* header.css */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:wght@700&family=Orelega+One&family=Roboto:wght@100&family=Ubuntu&display=swap");

/* .navbar {
    background-color: transparent !important;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5); 
  }
   */
   .navbar {
    /* position: fixed;
    top: 0;
    left: 0; */
    /* width: 100%; */
    background-color: rgba(255, 255, 255, 0.7); /* Set a semi-transparent dark color */
    box-shadow: 0 2px 4px rgba(80, 79, 79, 0.5); /* Add a subtle box shadow */
    z-index: 1;
  }
  


.my-colour {
  color:rgb(97, 91, 91);
  font-family: "Exo 2", sans-serif;
  font-size:x-large;
  font-weight: 850;
}
